@import url("https://fonts.googleapis.com/css2?family=Tiro+Devanagari+Sanskrit:ital@0;1&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  box-sizing: border-box;
  background-color: #fffefe;
  direction: ltr;
  font-family: "Tiro Devanagari Sanskrit", serif;
}

ul {
  margin: 0;
  padding: 0;

  li {
    list-style-type: none;
  }
}

.row {
  margin: 0px;
  padding: 0px;
  > div {
    margin: 0px;
    padding: 0px;
  }
}

// 1- page one style
.pageone {
  padding: 15px 0px;
  h2 {
    text-align: center;
    margin: 25px auto;
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase;
  }
  &__table {
    .cart,
    .doc {
      border: 0.5px solid #000;
      padding: 10px;
      h5 {
        font-size: 18px;
        font-weight: bold;
        text-transform: uppercase;
      }
      p {
        font-size: 16px;
      }
    }

    .cart {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      span {
        font-size: 50px;
        color: #e77e7e;
      }
    }
    div.table {
      border: 0.5px solid #000;
      text-align: left;
      table.table {
        width: 90%;
        border: 3px solid #dee2e6;
        .table-active {
          border-top: 3px solid #dee2e6;
        }
      }
      .tablefooter {
        width: 90%;
      }
      .footertable {
        padding: 20px 10px;
        h6 {
          font-size: 18px;
          font-weight: bold;
        }
        p {
          font-weight: bold;
          a {
            color: rgb(68, 68, 250);
            text-decoration: underline;
          }
        }
      }
      h4{
        font-size: 16px;
        font-weight: bold;
        width: 100%;
        text-align: center;
        margin: 30px 0px;
      }
    }
  }
}
